@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
  font-family: 'Varela Round', sans-serif;
  margin-left: 0;
  transition: all .3s ease-in;
}
header{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #F0DA9E;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  height: 6vh;
  padding: 0.5vh;
  margin-left: 0;
  z-index: 10000
}
.navbar > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.navbar > ul > li{
  justify-content: space-around;
}
.logo {
  float: left;
}
.logo > a > img{
  height: 6vh;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  overflow: visible;  
}
.logo > a > img:hover{
  box-shadow: none;
}
.business{
  top:0;
  padding-left: 45vh;  
}
.business > h1{
  font-size: 5vh;
  font-weight: bolder;  
  text-align: center;
  align-self: center;
  margin-top: 0;  
  padding-top: 0;
  background: linear-gradient(to right, #EB671E 30%,#AB492E 40%, #06781F 90%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text; 
  background-clip: text;
}
.business > h1:hover{
  background: linear-gradient(to left, #EB671E 30%,#AB492E 40%, #06781F 90%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text; 
  background-clip: text;
}
.navRight > ul{
  float: right;  
  display: flex;  
  margin-right: 1vh;
  list-style-type: none;
  overflow: visible;
}
.navRight >ul> li{ 
  padding-left: 2vh;
}
.howItWorks, .menu{
  margin-top: 2vh;
}
.howItWorks > a, .menu > a{
  text-decoration: none;
  font-size: 2vh;
  font-weight: 700;
  color: #AB492E;
}
.howItWorks > a:hover, .menu > a:hover{
  color:#06781F;
}
.signin{
  margin-top: 1vh;
}
.signin > button{
  background: linear-gradient(to right, #EB671E,#AB492E, #06781F);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  border-radius: 1vh;
  border: none;
  font-size: 2vh;
  font-weight: 700;
  height: 4vh;
  width: 14vh;
  cursor: pointer;
}

.signin > button:hover {  
  background: linear-gradient(to left, #EB671E,#AB492E, #06781F);
  box-shadow: none;
}
.signinLink{
  color: #F0DA9E;
  text-decoration: none;  
}
body{
  background-color: #F0DA9E;
  color: black;
}
.home, .howItWorksPage{
  margin: 10vh 10vh 5vh 10vh;
  text-align: center;
}
.homepagePic > img , .howItWorksBanner > img, .HowItWorksFooter > img{
  border-style: double;
  border-radius: 2vh;
  align-self: center;
  width: 100%;
}
.howItWorksBanner > img, .HowItWorksFooter > img{
  height: 50vh;
}
.howItWorksHomePage{
  margin-top: 2vh;
  background-color:#EB671E;
  color: #F0DA9E;
  border-radius: 2vh;
  padding-top: 3vh;
}
.howItWorksHomePage > div > h1{
  font-size: 4vh;
}
.howItWorksSteps{
  display: flex;
  padding: 3vh;
  justify-content: space-around;  
}
.howItWorksSteps > div > img{
  border-radius: 50%;
  width:30vh; 
  border-style: double; 
}
.stepNumContainer{
  position:relative
}
.stepNum{
  border-radius: 50%;
  background-color:#06781F;
  color: #F0DA9E;
  font-size: 3vh;
  font-weight: bold;
  width:6vh;
  height: 5vh;
  padding-top:1vh ;
  position: absolute;
  top: 2vh;
  left: 2vh;
}
.stepNumContainer > div > p{
  font-size: 2vh;
}
.homePageLastDiv{
  margin-top: 3vh;
  display: flex;
  justify-content: space-between;
}
.description{
  text-align: left;
  width: 30vh;
  padding-left: 10vh;
  padding-top: 15vh;
  font-size: 2vh;
}
.description > div{
  font-size: 2vh;
  font-weight: bold;
}
.description > div > h1{
  color:#AB492E;
  font-size: 4vh;
}
.lifeStyleList{
  padding-top: 1vh;
  font-size: 3vh;
  text-align: left;
}
.lifeStyleList > ul{
  list-style-type: none;
}

.lifeStyleList>ul li::before{
  content: ">";
  color:#06781F; 
  font-weight: bold; 
  display: inline-block; 
  width: 3vh; 
  margin-left: -3vh; 
  margin-bottom: 3vh;
}
.allMeals{
  float: right;
}
.allMeals > img{
  border-style: double;
  border-radius: 2vh;
}
.HowItWorksPageBody{
  padding: 0vh 20vh 5vh 20vh;
}
.Num{
  background-color: #06781F;
  color: #F0DA9E;
  border-radius: 50%;
  width:6.5vh;
  height: 5vh;
  font-weight: bold;
  font-size: 3vh;
  padding-top: 1.5vh;
  text-align: center;
}
.HowItWorksPageBody > div > h1{
  color:#AB492E; 
  font-size: xx-large;
  font-weight: bolder;
}
.strike{
  text-decoration: line-through;
}
.howItWorksFirstDiv, .howItWorksSecondDiv, .howItWorksThirdDiv{
  text-align: left;
  padding: 2vh 0 0 0;
}
.checkList{
  list-style-type: none;
}
.checkList >li{
  position: relative;
  padding-left: 0.8vh;
  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: -1.5vh;
    top: 1vh;
    transform: rotate(45deg);
    height: 1vh;
    width: 0.5vh;
    border-bottom: 0.5vh solid;
    border-right: 0.5vh solid;
    color: #06781F;
    padding-top: 0.5vh;
  }
  &:is(li) {
    margin-left: 1em;
    &:not(:first-child) {
      margin-top: 1em;
    }
  }
}
.part1, .howItWorksThirdDiv, .howItWorksSecondDiv{
  display: flex;
}
.left{
  line-height: 4vh;
  font-size: larger;
  float: left;
  top: 0;
}
.step1ImageOfBody, .step2ImageOfBody, .step3ImageOfBody{
  float: right;
  top:0;
  height: 40vh;
  width: 60vh;
  border-radius: 1vh;
  border-style: double;
}
.howItWorksText{
  color:#AB492E;
}
.listOfLs{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding: 2vh;
  gap: 3vh;
}
.L-item{
  background-color:#AB492E;
  color:#F0DA9E;
  width: 20vh;
  border-radius: 1vh;
  padding: 1vh;
}
.howItWorksSecondDiv, .howItWorksThirdDiv{
  display: flex;
  justify-content: space-around;
}
.menuFromHowItWorks{
  background:#AB492E;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  border-radius: 1vh;
  border: none;
  font-size: 1.5vh;
  font-weight: 700;
  height: 6vh;
  width: 30vh;
  cursor: pointer;
  margin-left: 15vh;
}
.menuFromHowItWorks > a{
  color:#F0DA9E;
  text-decoration:none ;
  font-size: 3vh;
}
.icons{
  display: flex;
  justify-content: space-around;
  width: 50vh;
  opacity: 90%;
  position: absolute;
  top: 20vh;
  left: 30vh;
}
.icons >img{
  height: 10vh;
  border-radius: 1vh;
  background-position: top;
}
.HowItWorksBottomContainer{
  position: relative;
}
.iconDescription{
  color: white;
  display: flex;
  justify-content: space-around;
  width: 50vh;
  position: absolute;
  z-index: 1000;
  top: 29vh;
  left: 32.5vh;
  font-size: 1.5vh;
}
.menuPage{
  margin: 10vh 15vh 5vh 15vh; 
  text-align: center;
}
.eachMenu{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2vh;
}
.menuDetails{
  background-color: #EB671E;
  color:#F0DA9E;
  width: 50vh;
  height: 40vh;
  border-radius: 2vh;
  text-align: center;
  margin: 1vh;
  padding: 1vh;
}
.menuDetails > h1{
  height: 7vh;
}
.mealImage{
  width: 30vh;
  height: 20vh;
  border-radius: 1vh;
}
form{
  text-align: center;
  display: block;
  background-color: #AB492E;
  border-radius: 2vh;
  line-height: 4vh;
  margin: 10vh 20vh 20vh 73vh;
  height: 30vh;
  width: 60vh;
  padding: 4vh 0 10vh 0;
}
.label{
  color:#F0DA9E;
  font-size: 3vh;
}
.input{
  border-radius: 1vh;
  border-style: double;
  height: 5vh;
  width: 35vh;
}
table {
  border-collapse: separate;
  border-spacing: 3vh 3vh;
}
.table td,
.table th
{
    text-align:right;
}
#right,
.table td + td,
.table th + th
{
    text-align:left;
}
.btn{
  background-color: #06781F;
  color: #F0DA9E;
  height: 5vh;
  width: 36vh;
  border-radius: 1vh;
  font-size: 3vh;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.messages{
  padding-top: 5vh;
  color:#AB492E; 
  font-size: 2vh;
  text-align: center;
  height: 3vh;
}
.signUpLink{
  color: #F0DA9E;
  font-size: 2vh;
  text-align: center;
}
.signUpLink > a{
  text-decoration: none;
  color:#F0DA9E;
}
.signUpLink > a:hover{
  color:#06781F;
}
footer{
  position: fixed;
  bottom:0;
  width: 100%;
  height: 3vh;
  background: linear-gradient(to right, #EB671E,#AB492E, #06781F);
  box-shadow: 0 -3px 10px 3px rgba(0, 0, 0, 0.2);
  color: #F0DA9E;
  text-align: center;
  margin: auto;
  font-size: 1.5vh;
  z-index: 10000;
  padding-top: 1.5vh;
}
footer > a{
  color:#F0DA9E;
  text-decoration: none;
}
footer > a:hover{
  color:#EB671E;
}