
.logo{
  height: 10vh;
}
.business > h1{
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #EB671E,
  #AB492E, #06781F);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.navbar {
  overflow: hidden;
  background-color: #F0DA9E;
  display:flex;
  height: 10vh;
}
.navMiddle{
  float:none;
}
.navRight{
  float: inline-end;
  display: flex;
  /* color: black; */
  text-align: center;
  padding: 14px;
  text-decoration: none;
  
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
body{
  /* background: linear-gradient(to right, #EB671E, #06781F); */
  background-color: #F0DA9E;
  color: black
}

